In [2]:
%load_ext autoreload
%autoreload 2

In [1]:
import pandas as pd
import knn_model as knn

In [3]:
train_data_path = '/Users/finneyer/Documents/HSLU/Semester 3/DSPRO1/Projektarbeit/Data/1/London_UTD19_train_Sniper_0.csv'
test_data_path = '/Users/finneyer/Documents/HSLU/Semester 3/DSPRO1/Projektarbeit/Data/1/London_UTD19_test_Sniper_0.csv'
save_path = '/Users/finneyer/Documents/HSLU/Semester 3/DSPRO1/Projektarbeit/models/knn/10'

In [4]:
# Load data from dataset 1
train_data = pd.read_csv(train_data_path)
train_data = train_data.drop(columns=['long', 'lat', 'pos', 'length','fclass'], axis = 1)
test_data = pd.read_csv(test_data_path)
test_data = test_data.drop(columns=['long', 'lat', 'pos', 'length','fclass'], axis = 1)

In [5]:
train_data

         interval           detid weekday  traffic
0             0.0  CNTR_N00/005g1  Friday       48
1          3600.0  CNTR_N00/005g1  Friday       41
2          7200.0  CNTR_N00/005g1  Friday       25
3         10800.0  CNTR_N00/005g1  Friday       13
4         14400.0  CNTR_N00/005g1  Friday       14
...           ...             ...     ...      ...
1563355   72000.0  SOUT_N10/313b1  Sunday       16
1563356   75600.0  SOUT_N10/313b1  Sunday        6
1563357   79200.0  SOUT_N10/313b1  Sunday        4
1563358   82800.0  SOUT_N10/313b1  Sunday        3
1563359   86400.0  SOUT_N10/313b1  Sunday        1

[1563360 rows x 4 columns]

In [6]:
knn.train_knn_models(train_data, save_path)

In [7]:
metrics = knn.evaluate_knn_models(test_data, save_path)

In [8]:
metrics

               detid        MAE         MSE        R2
0     CNTR_N00/005g1  22.517241  662.231034  0.456800
1     CNTR_N00/005g2  23.074074  711.407407  0.097833
2     CNTR_N00/005x1   5.135802   48.716049  0.449617
3     CNTR_N00/005x2   8.613558  148.544668  0.686224
4     CNTR_N01/001b1   6.818182  124.097222  0.905393
...              ...        ...         ...       ...
3580  SOUT_N10/265x1   4.288462   58.912927  0.390344
3581  SOUT_N10/275a1   2.531746   13.817460  0.766524
3582  SOUT_N10/275b1   2.510714   10.483163  0.637879
3583  SOUT_N10/313a1   5.756410   86.970798  0.686484
3584  SOUT_N10/313b1   3.472789   20.564140  0.868829

[3585 rows x 4 columns]

In [9]:
metrics.MAE.mean()

np.float64(5.942594568440849)

In [10]:
metrics.MSE.mean()

np.float64(112.20420870826388)

In [11]:
metrics['R2'].mean()

np.float64(0.7282063816978726)

## Train KNN 4D model

In [ ]:
import knn_model_4d as knn_4d

In [ ]:
save_path_4d = '/Users/finneyer/Documents/HSLU/Semester 3/DSPRO1/Projektarbeit/models/knn/0.4_4d'

In [ ]:
train_data_cp = train_data.copy()
knn_4d.train_4d_knn_model(train_data_cp, save_path_4d)

In [ ]:
knn_4d_model_path = '/Users/finneyer/Documents/HSLU/Semester 3/DSPRO1/Projektarbeit/models/knn/0.4_4d/knn_4d_model.pkl'
knn_4d_label_encoder_path = '/Users/finneyer/Documents/HSLU/Semester 3/DSPRO1/Projektarbeit/models/knn/0.4_4d/label_encoder.pkl'

In [ ]:
test_data_cp = test_data.copy()
evaluation = knn_4d.evaluate_knn_4d_model(test_data_cp, knn_4d_model_path, knn_4d_label_encoder_path)

In [ ]:
evaluation