In [1]:
import pandas as pd
import numpy as np
import branca.colormap as cm  # Used for color gradient
import folium
import geopandas

In [8]:
df_sensors = pd.read_csv(r"C:\Users\rueed\OneDrive\HSLU\3 Semester\DSPRO 1\HSLU_DSPRO1_TrafficStatus\data\RawDataLondon\London_detectors.csv")
df_anomalies = pd.read_csv(r"C:\Users\rueed\OneDrive\HSLU\3 Semester\DSPRO 1\Data\Anomalies_18.10.2024.csv")
df_usedsensors = pd.read_csv(r"C:\Users\rueed\OneDrive\HSLU\3 Semester\DSPRO 1\Data\London_UTD19_Modified_23.10.2024.csv")

In [3]:
df_sensors.head()

,detid,length,pos,fclass,road,limit,citycode,lanes,linkid,long,lat
0,EAST_N04/161x1,0.303585,0.261157,secondary,Homerton Road,NaN,london,1.0,5082.0,-0.021497,51.550929
1,EAST_N04/161y1,0.103679,0.063417,primary,Eastway,NaN,london,1.0,5091.0,-0.020899,51.550704
2,EAST_N04/162a1,0.260623,0.117906,secondary,Homerton Road,NaN,london,1.0,5083.0,-0.022649,51.550907
3,EAST_N04/162a2,0.216874,0.117942,secondary,Homerton Road,NaN,london,1.0,5084.0,-0.022617,51.550880
4,EAST_N04/163f1,0.344754,0.329789,primary,Eastway,NaN,london,1.0,5092.0,-0.019288,51.552281

In [4]:
df_anomalies

               detid
0     CNTR_N00/005b1
1     CNTR_N00/005g1
2     CNTR_N00/005g2
3     CNTR_N00/005x1
4     CNTR_N00/005x2
...              ...
3535  SOUT_N32/999a4
3536  SOUT_N32/999b1
3537  SOUT_N32/999b2
3538  SOUT_N32/999b3
3539  SOUT_N32/999b4

[3540 rows x 1 columns]

In [9]:
#df = pd.merge(df_sensors, df_anomalies, on='detid', how='left')
df_anom = pd.merge(df_anomalies, df_sensors, on='detid', how='left')
df_anom

,detid,length,pos,fclass,road,limit,citycode,lanes,linkid,long,lat
0,CNTR_N00/005b1,0.244936,0.110672,tertiary,Temple Avenue,NaN,london,1.0,1281.0,-0.106199,51.510929
1,CNTR_N00/005g1,0.237532,0.224619,tertiary,Temple Place,NaN,london,1.0,463.0,-0.111488,51.511081
2,CNTR_N00/005g2,0.238617,0.224596,tertiary,Temple Place,NaN,london,1.0,464.0,-0.111477,51.511047
3,CNTR_N00/005x1,0.420449,0.335635,tertiary,Temple Avenue,NaN,london,1.0,3765.0,-0.107033,51.511085
4,CNTR_N00/005x2,0.419348,0.335239,tertiary,Temple Avenue,NaN,london,1.0,3766.0,-0.107035,51.511054
...,...,...,...,...,...,...,...,...,...,...,...
3535,SOUT_N32/999a4,0.240746,0.136484,residential,NaN,NaN,london,1.0,2279.0,-0.083183,51.464205
3536,SOUT_N32/999b1,0.240718,0.136922,residential,NaN,NaN,london,2.0,2278.0,-0.083215,51.464196
3537,SOUT_N32/999b2,0.122751,0.093251,tertiary,Edgar Kail Way,NaN,london,1.0,2273.0,-0.081157,51.462209
3538,SOUT_N32/999b3,0.179297,0.084967,tertiary,Edgar Kail Way,NaN,london,1.0,2272.0,-0.081123,51.462229
3539,SOUT_N32/999b4,0.059640,0.038727,residential,NaN,NaN,london,1.0,2277.0,-0.082535,51.463428

In [10]:
df_usedsensors

                 day  interval           detid   weekday  traffic
0         2015-05-16         0  CNTR_N01/001b1  Saturday     11.0
1         2015-05-16       300  CNTR_N01/001b1  Saturday     14.0
2         2015-05-16       600  CNTR_N01/001b1  Saturday     10.0
3         2015-05-16       900  CNTR_N01/001b1  Saturday     20.0
4         2015-05-16      1200  CNTR_N01/001b1  Saturday      6.0
...              ...       ...             ...       ...      ...
10990550  2016-05-22     83400  SOUT_N10/313b1    Sunday      0.0
10990551  2016-05-22     84000  SOUT_N10/313b1    Sunday      1.0
10990552  2016-05-22     84900  SOUT_N10/313b1    Sunday      0.0
10990553  2016-05-22     85200  SOUT_N10/313b1    Sunday      0.0
10990554  2016-05-22     85500  SOUT_N10/313b1    Sunday      0.0

[10990555 rows x 5 columns]

In [11]:
df_real = pd.merge(df_usedsensors, df_sensors, on='detid', how='left')
df_real

,day,interval,detid,weekday,traffic,length,pos,fclass,road,limit,citycode,lanes,linkid,long,lat
0,2015-05-16,0,CNTR_N01/001b1,Saturday,11.0,0.04671,0.019461,tertiary,Dover Street,NaN,london,1.0,5171.0,-0.140822,51.507659
1,2015-05-16,300,CNTR_N01/001b1,Saturday,14.0,0.04671,0.019461,tertiary,Dover Street,NaN,london,1.0,5171.0,-0.140822,51.507659
2,2015-05-16,600,CNTR_N01/001b1,Saturday,10.0,0.04671,0.019461,tertiary,Dover Street,NaN,london,1.0,5171.0,-0.140822,51.507659
3,2015-05-16,900,CNTR_N01/001b1,Saturday,20.0,0.04671,0.019461,tertiary,Dover Street,NaN,london,1.0,5171.0,-0.140822,51.507659
4,2015-05-16,1200,CNTR_N01/001b1,Saturday,6.0,0.04671,0.019461,tertiary,Dover Street,NaN,london,1.0,5171.0,-0.140822,51.507659
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10990550,2016-05-22,83400,SOUT_N10/313b1,Sunday,0.0,0.34702,0.149763,tertiary,Kirtling Street,NaN,london,1.0,2139.0,-0.136445,51.482141
10990551,2016-05-22,84000,SOUT_N10/313b1,Sunday,1.0,0.34702,0.149763,tertiary,Kirtling Street,NaN,london,1.0,2139.0,-0.136445,51.482141
10990552,2016-05-22,84900,SOUT_N10/313b1,Sunday,0.0,0.34702,0.149763,tertiary,Kirtling Street,NaN,london,1.0,2139.0,-0.136445,51.482141
10990553,2016-05-22,85200,SOUT_N10/313b1,Sunday,0.0,0.34702,0.149763,tertiary,Kirtling Street,NaN,london,1.0,2139.0,-0.136445,51.482141
10990554,2016-05-22,85500,SOUT_N10/313b1,Sunday,0.0,0.34702,0.149763,tertiary,Kirtling Street,NaN,london,1.0,2139.0,-0.136445,51.482141

In [17]:
import folium

def plot_sensors_as_points(df1_blue, df2_red, lat_col='lat', long_col='long', sensorid_col='detid', trafficIndex_col=None, city_center=(51.5074, -0.1278), zoom_start=12):
    """
    Plot the sensor locations as points (CircleMarkers) on a map of London.
    
    Args:
    - df: DataFrame containing sensor data with latitude and longitude columns.
    - lat_col: Name of the column containing latitude values (default: 'lat').
    - long_col: Name of the column containing longitude values (default: 'long').
    - sensorid_col: Name of the column containing sensor IDs (default: 'detid').
    - trafficIndex_col: Optional. Name of the column containing traffic index values (for popup display).
    - city_center: Tuple of (latitude, longitude) for the center of the map (default is central London).
    - zoom_start: Initial zoom level for the map (default is 12).
    
    Output:
    - Folium map with sensor locations plotted as CircleMarkers (points).
    """
    # Create a Folium map centered around London
    m = folium.Map(location=city_center, zoom_start=zoom_start)

    # Plot each sensor as a point on the map using CircleMarker
    for _, row in df1_blue.iterrows():
        # Popup text with sensor id and optional traffic index
        popup_text = f"Sensor ID: {row[sensorid_col]}"
        if trafficIndex_col:
            popup_text += f"<br>Traffic Index: {row[trafficIndex_col]}"
        
        # Add a CircleMarker for each sensor
        folium.CircleMarker(
            location=[row[lat_col], row[long_col]],
            radius=3,  # Size of the circle (points)
            color='blue',  # Outline color
            fill=True,
            fill_color='blue',  # Fill color of the point
            fill_opacity=0.7,
            popup=popup_text
        ).add_to(m)
        
    for _, row in df1_red.iterrows():
        # Popup text with sensor id and optional traffic index
        popup_text = f"Sensor ID: {row[sensorid_col]}"
        if trafficIndex_col:
            popup_text += f"<br>Traffic Index: {row[trafficIndex_col]}"
        
        # Add a CircleMarker for each sensor
        folium.CircleMarker(
            location=[row[lat_col], row[long_col]],
            radius=3,  # Size of the circle (points)
            color='red',  # Outline color
            fill=True,
            fill_color='red',  # Fill color of the point
            fill_opacity=0.7,
            popup=popup_text
        ).add_to(m)

    return m

IndentationError: expected an indented block after 'for' statement on line 40 (685395122.py, line 42)

Der Plot zeigt alle Anomalien in Rot und die noch bestehenden Sensoren in Blau

In [16]:
#anomalies
plot_sensors_as_points(df_real, df_anom, lat_col='lat', long_col='long', sensorid_col='detid')

#used sensors
plot_sensors_as_points(df_real, lat_col='lat', long_col='long', sensorid_col='detid', color='blue')

KeyboardInterrupt: