In [1]:
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
import sys
import os

# Add the directory containing the module to the system path
module_path = os.path.abspath(os.path.join('C:\\Users\\samue\\OneDrive\\AIML\\HS2024\\Data Sicence Projekt\\HSLU_DSPRO1_TrafficStatus\\data'))
if module_path not in sys.path:
    sys.path.append(module_path)

# Import the module
import DataEngineeringLibrary as dlib

In [3]:
# Load the data form seperate dictionary, because the data is too big to load onto github
# Dataload restricted to 1 million rows, because of speed and memory issues
# Just for testing purposes
dataframeLondonUTD19 = dlib.loadData(path=r"C:\Users\samue\OneDrive\AIML\HS2024\Data Sicence Projekt\Data\London_UTD19.csv", nrows=1000000)
dataframeLondonUTD19.head()

          day  interval           detid   flow       occ  error    city  speed
0  2015-05-16         0  EAST_N04/161x1  144.0  0.028333    0.0  london    NaN
1  2015-05-16       300  EAST_N04/161x1  204.0  0.040000    0.0  london    NaN
2  2015-05-16       600  EAST_N04/161x1  216.0  0.039167    0.0  london    NaN
3  2015-05-16       900  EAST_N04/161x1  168.0  0.029167    0.0  london    NaN
4  2015-05-16      1200  EAST_N04/161x1  144.0  0.024167    0.0  london    NaN

In [7]:
anomalies = dlib.loadData(path=r"C:\Users\samue\OneDrive\AIML\HS2024\Data Sicence Projekt\Data\Datasets\Anomalies_18.10.2024.csv")
anomalies.head()

            detid
0  CNTR_N00/005b1
1  CNTR_N00/005g1
2  CNTR_N00/005g2
3  CNTR_N00/005x1
4  CNTR_N00/005x2

In [5]:
dataframeDetectors = dlib.loadData(path=r"C:\Users\samue\OneDrive\AIML\HS2024\Data Sicence Projekt\Data\London_detectors.csv")
dataframeDetectors.head()

,detid,length,pos,fclass,road,limit,citycode,lanes,linkid,long,lat
0,EAST_N04/161x1,0.303585,0.261157,secondary,Homerton Road,NaN,london,1.0,5082.0,-0.021497,51.550929
1,EAST_N04/161y1,0.103679,0.063417,primary,Eastway,NaN,london,1.0,5091.0,-0.020899,51.550704
2,EAST_N04/162a1,0.260623,0.117906,secondary,Homerton Road,NaN,london,1.0,5083.0,-0.022649,51.550907
3,EAST_N04/162a2,0.216874,0.117942,secondary,Homerton Road,NaN,london,1.0,5084.0,-0.022617,51.550880
4,EAST_N04/163f1,0.344754,0.329789,primary,Eastway,NaN,london,1.0,5092.0,-0.019288,51.552281

In [19]:
dataframeLinks = dlib.loadData(path=r"C:\Users\samue\OneDrive\AIML\HS2024\Data Sicence Projekt\Data\London_links.csv")
dataframeLinks.head()

       long        lat  order  piece  linkid  group citycode
0 -0.073746  51.509116      1      1       0    0.1   london
1 -0.073782  51.508952      2      1       0    0.1   london
2 -0.073879  51.508815      3      1       0    0.1   london
3 -0.073941  51.508690      4      1       0    0.1   london
4 -0.074041  51.508261      5      1       0    0.1   london

In [17]:
dataframeAnomalies = dataframeDetectors[dataframeDetectors['detid'].isin(anomalies['detid'])]
dataframeAnomalies.head()

,detid,length,pos,fclass,road,limit,citycode,lanes,linkid,long,lat
0,EAST_N04/161x1,0.303585,0.261157,secondary,Homerton Road,NaN,london,1.0,5082.0,-0.021497,51.550929
1,EAST_N04/161y1,0.103679,0.063417,primary,Eastway,NaN,london,1.0,5091.0,-0.020899,51.550704
3,EAST_N04/162a2,0.216874,0.117942,secondary,Homerton Road,NaN,london,1.0,5084.0,-0.022617,51.550880
4,EAST_N04/163f1,0.344754,0.329789,primary,Eastway,NaN,london,1.0,5092.0,-0.019288,51.552281
5,EAST_N04/237c2,0.441917,0.075087,primary,Eastway,NaN,london,1.0,3485.0,-0.023171,51.550043

In [16]:
dataframeWithoutAnomalies = dataframeDetectors[~dataframeDetectors['detid'].isin(anomalies['detid'])]
dataframeWithoutAnomalies.head()

,detid,length,pos,fclass,road,limit,citycode,lanes,linkid,long,lat
2,EAST_N04/162a1,0.260623,0.117906,secondary,Homerton Road,NaN,london,1.0,5083.0,-0.022649,51.550907
7,EAST_N04/161a1,0.063615,0.039030,secondary,Homerton Road,NaN,london,1.0,5086.0,-0.020662,51.551381
10,EAST_N04/161e1,0.084818,0.026256,secondary,Homerton Road,NaN,london,1.0,5087.0,-0.020714,51.551375
12,EAST_N04/162c1,0.077000,0.022373,secondary,Homerton Road,NaN,london,1.0,5089.0,-0.020858,51.551195
14,EAST_N17/006c1,0.177435,0.112597,tertiary,Barking Road,NaN,london,1.0,3325.0,0.029920,51.524791

In [13]:
unique_days = dataframeLondonUTD19['day'].unique()
unique_days = pd.to_datetime(unique_days)
unique_days

DatetimeIndex(['2015-05-16', '2015-05-15', '2015-05-17', '2015-05-18',
               '2015-05-19', '2015-05-20', '2015-05-21', '2015-05-22',
               '2015-05-23', '2015-10-01', '2015-09-25', '2015-09-26',
               '2015-09-27', '2015-09-28', '2015-09-29', '2015-09-30',
               '2016-05-16', '2016-05-17', '2016-05-18', '2016-05-19',
               '2016-05-20', '2016-05-21', '2016-05-22'],
              dtype='datetime64[ns]', freq=None)

In [21]:
uniqueLinks = dataframeDetectors['linkid'].unique()
uniqueLinks.size

5158

In [30]:
multiple_entities = dataframeLinks.groupby('linkid').filter(lambda x: len(x) > 1)

# Display the result
print("Values in 'linkid' with more than one entity:")
multiple_entities.groupby('linkid').head()

Values in 'linkid' with more than one entity:

           long        lat  order  piece  linkid   group citycode
0     -0.073746  51.509116      1      1       0     0.1   london
1     -0.073782  51.508952      2      1       0     0.1   london
2     -0.073879  51.508815      3      1       0     0.1   london
3     -0.073941  51.508690      4      1       0     0.1   london
4     -0.074041  51.508261      5      1       0     0.1   london
...         ...        ...    ...    ...     ...     ...      ...
33255 -0.123317  51.486183      4      1    5222  5222.1   london
33256 -0.139346  51.474186      1      1    5223  5223.1   london
33257 -0.137544  51.473404      2      1    5223  5223.1   london
33258 -0.136600  51.472910      3      1    5223  5223.1   london
33259 -0.135559  51.472235      4      1    5223  5223.1   london

[23942 rows x 7 columns]

In [41]:
dataframeLondonMerged = pd.merge(dataframeLondonUTD19, dataframeDetectors, on='detid', how='inner')
dataframeLondonMerged.head()

,day,interval,detid,flow,occ,error,city,speed,length,pos,fclass,road,limit,citycode,lanes,linkid,long,lat
0,2015-05-16,0,EAST_N04/161x1,144.0,0.028333,0.0,london,NaN,0.303585,0.261157,secondary,Homerton Road,NaN,london,1.0,5082.0,-0.021497,51.550929
1,2015-05-16,300,EAST_N04/161x1,204.0,0.040000,0.0,london,NaN,0.303585,0.261157,secondary,Homerton Road,NaN,london,1.0,5082.0,-0.021497,51.550929
2,2015-05-16,600,EAST_N04/161x1,216.0,0.039167,0.0,london,NaN,0.303585,0.261157,secondary,Homerton Road,NaN,london,1.0,5082.0,-0.021497,51.550929
3,2015-05-16,900,EAST_N04/161x1,168.0,0.029167,0.0,london,NaN,0.303585,0.261157,secondary,Homerton Road,NaN,london,1.0,5082.0,-0.021497,51.550929
4,2015-05-16,1200,EAST_N04/161x1,144.0,0.024167,0.0,london,NaN,0.303585,0.261157,secondary,Homerton Road,NaN,london,1.0,5082.0,-0.021497,51.550929

In [42]:
dataframeLondonMerged = dataframeLondonMerged.drop(columns=['city', 'fclass', 'road', 'limit', 'citycode', 'day', 'error', 'speed', 'long', 'lat'])
dataframeLondonMerged.head()

,interval,detid,flow,occ,length,pos,lanes,linkid
0,0,EAST_N04/161x1,144.0,0.028333,0.303585,0.261157,1.0,5082.0
1,300,EAST_N04/161x1,204.0,0.040000,0.303585,0.261157,1.0,5082.0
2,600,EAST_N04/161x1,216.0,0.039167,0.303585,0.261157,1.0,5082.0
3,900,EAST_N04/161x1,168.0,0.029167,0.303585,0.261157,1.0,5082.0
4,1200,EAST_N04/161x1,144.0,0.024167,0.303585,0.261157,1.0,5082.0

In [43]:
unique_detectors = dataframeLondonMerged['detid'].unique()
random_detector = pd.Series(unique_detectors).sample(1).iloc[0]
print(f"Selected detector: {random_detector}")
dataframeDetector = dataframeLondonMerged[dataframeLondonMerged['detid'] == random_detector]
dataframeDetector = dataframeDetector.drop(columns=['detid'])
dataframeDetector.head()

Selected detector: CNTR_N01/007a1

        interval   flow       occ   length       pos  lanes  linkid
117106         0  192.0  0.690833  0.05979  0.005967    1.0  5131.0
117107       300  264.0  0.774167  0.05979  0.005967    1.0  5131.0
117108       600  168.0  0.754167  0.05979  0.005967    1.0  5131.0
117109       900  288.0  0.813333  0.05979  0.005967    1.0  5131.0
117110      1200  240.0  0.832500  0.05979  0.005967    1.0  5131.0

In [44]:
dataframeDetector.corr()

          interval      flow       occ  length  pos  lanes  linkid
interval  1.000000  0.207546  0.124032     NaN  NaN    NaN     NaN
flow      0.207546  1.000000 -0.657277     NaN  NaN    NaN     NaN
occ       0.124032 -0.657277  1.000000     NaN  NaN    NaN     NaN
length         NaN       NaN       NaN     NaN  NaN    NaN     NaN
pos            NaN       NaN       NaN     NaN  NaN    NaN     NaN
lanes          NaN       NaN       NaN     NaN  NaN    NaN     NaN
linkid         NaN       NaN       NaN     NaN  NaN    NaN     NaN