Get weather data for the Dataset

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import sys
import os

In [2]:
# Add the directory containing the module to the system path
module_path = os.path.abspath(os.path.join('C:\\Users\\samue\\OneDrive\\AIML\\HS2024\\Data Sicence Projekt\\HSLU_DSPRO1_TrafficStatus\\data'))
if module_path not in sys.path:
    sys.path.append(module_path)

# Import the module
import DataEngineeringLibrary as dlib

In [6]:
dataLondonUTD19 = dlib.loadData(path=r"C:\Users\samue\OneDrive\AIML\HS2024\Data Sicence Projekt\Data\London_UTD19.csv", nrows=1000000)
dataLondonUTD19.head()

          day  interval           detid   flow       occ  error    city  speed
0  2015-05-16         0  EAST_N04/161x1  144.0  0.028333    0.0  london    NaN
1  2015-05-16       300  EAST_N04/161x1  204.0  0.040000    0.0  london    NaN
2  2015-05-16       600  EAST_N04/161x1  216.0  0.039167    0.0  london    NaN
3  2015-05-16       900  EAST_N04/161x1  168.0  0.029167    0.0  london    NaN
4  2015-05-16      1200  EAST_N04/161x1  144.0  0.024167    0.0  london    NaN

In [24]:
unique_days = dataLondonUTD19['day'].unique()
unique_days = pd.to_datetime(unique_days)
unique_days

DatetimeIndex(['2015-05-16', '2015-05-15', '2015-05-17', '2015-05-18',
               '2015-05-19', '2015-05-20', '2015-05-21', '2015-05-22',
               '2015-05-23', '2015-10-01', '2015-09-25', '2015-09-26',
               '2015-09-27', '2015-09-28', '2015-09-29', '2015-09-30',
               '2016-05-16', '2016-05-17', '2016-05-18', '2016-05-19',
               '2016-05-20', '2016-05-21', '2016-05-22'],
              dtype='datetime64[ns]', freq=None)

In [14]:
#This is the example from the Open-Meteo API documentation
import openmeteo_requests

import requests_cache
import pandas as pd
from retry_requests import retry

# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after = -1)
retry_session = retry(cache_session, retries = 5, backoff_factor = 0.2)
openmeteo = openmeteo_requests.Client(session = retry_session)

# Make sure all required weather variables are listed here
# The order of variables in hourly or daily is important to assign them correctly below
url = "https://archive-api.open-meteo.com/v1/archive"
params = {
	"latitude": 51.50,
	"longitude": -0.12,
	"start_date": "2015-10-14",
	"end_date": "2015-10-15",
	"hourly": "rain"
}
responses = openmeteo.weather_api(url, params=params)

# Process first location. Add a for-loop for multiple locations or weather models
response = responses[0]
print(f"Coordinates {response.Latitude()}째N {response.Longitude()}째E")
print(f"Elevation {response.Elevation()} m asl")
print(f"Timezone {response.Timezone()} {response.TimezoneAbbreviation()}")
print(f"Timezone difference to GMT+0 {response.UtcOffsetSeconds()} s")

# Process hourly data. The order of variables needs to be the same as requested.
hourly = response.Hourly()
hourly_rain = hourly.Variables(0).ValuesAsNumpy()

hourly_data = {"date": pd.date_range(
	start = pd.to_datetime(hourly.Time(), unit = "s", utc = True),
	end = pd.to_datetime(hourly.TimeEnd(), unit = "s", utc = True),
	freq = pd.Timedelta(seconds = hourly.Interval()),
	inclusive = "left"
)}
hourly_data["rain"] = hourly_rain

hourly_dataframe = pd.DataFrame(data = hourly_data)
print(hourly_dataframe)

Coordinates 51.49384689331055째N -0.16302490234375째E
Elevation 1.0 m asl
Timezone None None
Timezone difference to GMT+0 0 s
                        date  rain
0  2015-10-14 00:00:00+00:00   0.0
1  2015-10-14 01:00:00+00:00   0.0
2  2015-10-14 02:00:00+00:00   0.0
3  2015-10-14 03:00:00+00:00   0.0
4  2015-10-14 04:00:00+00:00   0.0
5  2015-10-14 05:00:00+00:00   0.0
6  2015-10-14 06:00:00+00:00   0.0
7  2015-10-14 07:00:00+00:00   0.0
8  2015-10-14 08:00:00+00:00   0.0
9  2015-10-14 09:00:00+00:00   0.0
10 2015-10-14 10:00:00+00:00   0.0
11 2015-10-14 11:00:00+00:00   0.0
12 2015-10-14 12:00:00+00:00   0.0
13 2015-10-14 13:00:00+00:00   0.0
14 2015-10-14 14:00:00+00:00   0.0
15 2015-10-14 15:00:00+00:00   0.1
16 2015-10-14 16:00:00+00:00   0.0
17 2015-10-14 17:00:00+00:00   0.0
18 2015-10-14 18:00:00+00:00   0.0
19 2015-10-14 19:00:00+00:00   0.0
20 2015-10-14 20:00:00+00:00   0.0
21 2015-10-14 21:00:00+00:00   0.0
22 2015-10-14 22:00:00+00:00   0.0
23 2015-10-14 23:00:00+00:00   0.0
24 2015-10-15 00:00:00+00:00   0.0
25 2015-10-15 01:00:00+00:00   0.0
26 2015-10-15 02:00:00+00:00   0.0
27 2015-10-15 03:00:00+00:00   0.0
28 2015-10-15 04:00:00+00:00   0.0
29 2015-10-15 05:00:00+00:00   0.0
30 2015-10-15 06:00:00+00:00   0.0
31 2015-10-15 07:00:00+00:00   0.0
32 2015-10-15 08:00:00+00:00   0.0
33 2015-10-15 09:00:00+00:00   0.0
34 2015-10-15 10:00:00+00:00   0.0
35 2015-10-15 11:00:00+00:00   0.0
36 2015-10-15 12:00:00+00:00   0.0
37 2015-10-15 13:00:00+00:00   0.0
38 2015-10-15 14:00:00+00:00   0.0
39 2015-10-15 15:00:00+00:00   0.0
40 2015-10-15 16:00:00+00:00   0.0
41 2015-10-15 17:00:00+00:00   0.0
42 2015-10-15 18:00:00+00:00   0.0
43 2015-10-15 19:00:00+00:00   0.0
44 2015-10-15 20:00:00+00:00   0.0
45 2015-10-15 21:00:00+00:00   0.0
46 2015-10-15 22:00:00+00:00   0.0
47 2015-10-15 23:00:00+00:00   0.0

In [30]:
import openmeteo_requests
import requests_cache
import pandas as pd
from retry_requests import retry

# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after=-1)
retry_session = retry(cache_session, retries=5, backoff_factor=0.2)
openmeteo = openmeteo_requests.Client(session=retry_session)

# Make sure all required weather variables are listed here
url = "https://archive-api.open-meteo.com/v1/archive"

# Initialize an empty list to store DataFrames
dataframes = []

# Loop through each unique day value
for day in unique_days:
    # Convert day to string format for API call
    day_str = day.strftime('%Y-%m-%d')
    
    # Set the parameters for the API call
    params = {
        "latitude": 51.50,
        "longitude": -0.12,
        "start_date": day_str,
        "end_date": day_str,
        "hourly": "rain"
    }
    
    # Call the API
    responses = openmeteo.weather_api(url, params=params)
    
    # Process the response
    response = responses[0]
    
    # Process hourly data
    hourly = response.Hourly()
    hourly_rain = hourly.Variables(0).ValuesAsNumpy()
    
    hourly_data = {"date": pd.date_range(
        start=pd.to_datetime(hourly.Time(), unit="s", utc=True),
        end=pd.to_datetime(hourly.TimeEnd(), unit="s", utc=True),
        freq=pd.Timedelta(seconds=hourly.Interval()),
        inclusive="left"
    )}
    hourly_data["rain"] = hourly_rain
    
    hourly_dataframe = pd.DataFrame(data=hourly_data)
    print(hourly_dataframe)
    
    # Append the DataFrame to the list
    dataframes.append(hourly_dataframe)

# Combine all DataFrames into a single DataFrame
rainDataFrameResponse = pd.concat(dataframes, ignore_index=True)

rainDataFrameResponse.head()

                        date  rain
0  2015-05-16 00:00:00+00:00   0.0
1  2015-05-16 01:00:00+00:00   0.0
2  2015-05-16 02:00:00+00:00   0.0
3  2015-05-16 03:00:00+00:00   0.0
4  2015-05-16 04:00:00+00:00   0.0
5  2015-05-16 05:00:00+00:00   0.0
6  2015-05-16 06:00:00+00:00   0.0
7  2015-05-16 07:00:00+00:00   0.0
8  2015-05-16 08:00:00+00:00   0.0
9  2015-05-16 09:00:00+00:00   0.0
10 2015-05-16 10:00:00+00:00   0.0
11 2015-05-16 11:00:00+00:00   0.0
12 2015-05-16 12:00:00+00:00   0.0
13 2015-05-16 13:00:00+00:00   0.0
14 2015-05-16 14:00:00+00:00   0.0
15 2015-05-16 15:00:00+00:00   0.0
16 2015-05-16 16:00:00+00:00   0.0
17 2015-05-16 17:00:00+00:00   0.0
18 2015-05-16 18:00:00+00:00   0.0
19 2015-05-16 19:00:00+00:00   0.0
20 2015-05-16 20:00:00+00:00   0.0
21 2015-05-16 21:00:00+00:00   0.0
22 2015-05-16 22:00:00+00:00   0.0
23 2015-05-16 23:00:00+00:00   0.0
                        date  rain
0  2015-05-15 00:00:00+00:00   0.0
1  2015-05-15 01:00:00+00:00   0.0
2  2015-05-15 02:00:00+00:00   0.0
3  2015-05-15 03:00:00+00:00   0.0
4  2015-05-15 04:00:00+00:00   0.0
5  2015-05-15 05:00:00+00:00   0.0
6  2015-05-15 06:00:00+00:00   0.0
7  2015-05-15 07:00:00+00:00   0.0
8  2015-05-15 08:00:00+00:00   0.0
9  2015-05-15 09:00:00+00:00   0.0
10 2015-05-15 10:00:00+00:00   0.0
11 2015-05-15 11:00:00+00:00   0.0
12 2015-05-15 12:00:00+00:00   0.0
13 2015-05-15 13:00:00+00:00   0.0
14 2015-05-15 14:00:00+00:00   0.0
15 2015-05-15 15:00:00+00:00   0.0
16 2015-05-15 16:00:00+00:00   0.0
17 2015-05-15 17:00:00+00:00   0.0
18 2015-05-15 18:00:00+00:00   0.0
19 2015-05-15 19:00:00+00:00   0.0
20 2015-05-15 20:00:00+00:00   0.0
21 2015-05-15 21:00:00+00:00   0.0
22 2015-05-15 22:00:00+00:00   0.0
23 2015-05-15 23:00:00+00:00   0.0
                        date  rain
0  2015-05-17 00:00:00+00:00   0.0
1  2015-05-17 01:00:00+00:00   0.0
2  2015-05-17 02:00:00+00:00   0.0
3  2015-05-17 03:00:00+00:00   0.0
4  2015-05-17 04:00:00+00:00   0.0
5  2015-05-17 05:00:00+00:00   0.0
6  2015-05-17 06:00:00+00:00   0.0
7  2015-05-17 07:00:00+00:00   0.0
8  2015-05-17 08:00:00+00:00   0.0
9  2015-05-17 09:00:00+00:00   0.0
10 2015-05-17 10:00:00+00:00   0.0
11 2015-05-17 11:00:00+00:00   0.0
12 2015-05-17 12:00:00+00:00   0.0
13 2015-05-17 13:00:00+00:00   0.0
14 2015-05-17 14:00:00+00:00   0.0
15 2015-05-17 15:00:00+00:00   0.0
16 2015-05-17 16:00:00+00:00   0.0
17 2015-05-17 17:00:00+00:00   0.0
18 2015-05-17 18:00:00+00:00   0.0
19 2015-05-17 19:00:00+00:00   0.0
20 2015-05-17 20:00:00+00:00   0.0
21 2015-05-17 21:00:00+00:00   0.0
22 2015-05-17 22:00:00+00:00   0.0
23 2015-05-17 23:00:00+00:00   0.0
                        date  rain
0  2015-05-18 00:00:00+00:00   0.0
1  2015-05-18 01:00:00+00:00   0.0
2  2015-05-18 02:00:00+00:00   0.0
3  2015-05-18 03:00:00+00:00   0.0
4  2015-05-18 04:00:00+00:00   0.0
5  2015-05-18 05:00:00+00:00   0.0
6  2015-05-18 06:00:00+00:00   0.0
7  2015-05-18 07:00:00+00:00   0.0
8  2015-05-18 08:00:00+00:00   1.4
9  2015-05-18 09:00:00+00:00   0.3
10 2015-05-18 10:00:00+00:00   0.3
11 2015-05-18 11:00:00+00:00   0.9
12 2015-05-18 12:00:00+00:00   0.9
13 2015-05-18 13:00:00+00:00   0.2
14 2015-05-18 14:00:00+00:00   0.2
15 2015-05-18 15:00:00+00:00   0.0
16 2015-05-18 16:00:00+00:00   0.0
17 2015-05-18 17:00:00+00:00   0.0
18 2015-05-18 18:00:00+00:00   0.0
19 2015-05-18 19:00:00+00:00   0.0
20 2015-05-18 20:00:00+00:00   0.0
21 2015-05-18 21:00:00+00:00   0.0
22 2015-05-18 22:00:00+00:00   0.0
23 2015-05-18 23:00:00+00:00   0.0
                        date  rain
0  2015-05-19 00:00:00+00:00   0.0
1  2015-05-19 01:00:00+00:00   0.0
2  2015-05-19 02:00:00+00:00   0.0
3  2015-05-19 03:00:00+00:00   0.0
4  2015-05-19 04:00:00+00:00   0.0
5  2015-05-19 05:00:00+00:00   0.0
6  2015-05-19 06:00:00+00:00   0.0
7  2015-05-19 07:00:00+00:00   0.0
8  2015-05-19 08:00:00+00:00   0.0
9  2015-05-19 09:00:00+00:00   0.0
10 2015-05-19 10:00:00+00:00   0.0
11 2015-05-19 11:00:00+00:00   0.0
12 2015-05-19 12:00:00+00:00   0.0
13 2015-05-19 13:00:00+00:00   0.4
14 2015-05-19 14:00:00+00:00   1.7
15 2015-05-19 15:00:00+00:00   0.2
16 2015-05-19 16:00:00+00:00   0.0
17 2015-05-19 17:00:00+00:00   0.0
18 2015-05-19 18:00:00+00:00   0.0
19 2015-05-19 19:00:00+00:00   0.0
20 2015-05-19 20:00:00+00:00   0.0
21 2015-05-19 21:00:00+00:00   0.0
22 2015-05-19 22:00:00+00:00   0.0
23 2015-05-19 23:00:00+00:00   0.0
                        date  rain
0  2015-05-20 00:00:00+00:00   0.0
1  2015-05-20 01:00:00+00:00   0.0
2  2015-05-20 02:00:00+00:00   0.0
3  2015-05-20 03:00:00+00:00   0.0
4  2015-05-20 04:00:00+00:00   0.0
5  2015-05-20 05:00:00+00:00   0.0
6  2015-05-20 06:00:00+00:00   0.0
7  2015-05-20 07:00:00+00:00   0.0
8  2015-05-20 08:00:00+00:00   0.0
9  2015-05-20 09:00:00+00:00   0.2
10 2015-05-20 10:00:00+00:00   0.2
11 2015-05-20 11:00:00+00:00   0.1
12 2015-05-20 12:00:00+00:00   0.3
13 2015-05-20 13:00:00+00:00   0.0
14 2015-05-20 14:00:00+00:00   0.0
15 2015-05-20 15:00:00+00:00   0.0
16 2015-05-20 16:00:00+00:00   0.0
17 2015-05-20 17:00:00+00:00   0.1
18 2015-05-20 18:00:00+00:00   0.0
19 2015-05-20 19:00:00+00:00   0.0
20 2015-05-20 20:00:00+00:00   0.0
21 2015-05-20 21:00:00+00:00   0.0
22 2015-05-20 22:00:00+00:00   0.0
23 2015-05-20 23:00:00+00:00   0.0
                        date  rain
0  2015-05-21 00:00:00+00:00   0.0
1  2015-05-21 01:00:00+00:00   0.0
2  2015-05-21 02:00:00+00:00   0.0
3  2015-05-21 03:00:00+00:00   0.0
4  2015-05-21 04:00:00+00:00   0.0
5  2015-05-21 05:00:00+00:00   0.0
6  2015-05-21 06:00:00+00:00   0.0
7  2015-05-21 07:00:00+00:00   0.0
8  2015-05-21 08:00:00+00:00   0.0
9  2015-05-21 09:00:00+00:00   0.0
10 2015-05-21 10:00:00+00:00   0.0
11 2015-05-21 11:00:00+00:00   0.0
12 2015-05-21 12:00:00+00:00   0.0
13 2015-05-21 13:00:00+00:00   0.0
14 2015-05-21 14:00:00+00:00   0.0
15 2015-05-21 15:00:00+00:00   0.0
16 2015-05-21 16:00:00+00:00   0.0
17 2015-05-21 17:00:00+00:00   0.0
18 2015-05-21 18:00:00+00:00   0.0
19 2015-05-21 19:00:00+00:00   0.0
20 2015-05-21 20:00:00+00:00   0.0
21 2015-05-21 21:00:00+00:00   0.0
22 2015-05-21 22:00:00+00:00   0.0
23 2015-05-21 23:00:00+00:00   0.0
                        date  rain
0  2015-05-22 00:00:00+00:00   0.0
1  2015-05-22 01:00:00+00:00   0.0
2  2015-05-22 02:00:00+00:00   0.0
3  2015-05-22 03:00:00+00:00   0.0
4  2015-05-22 04:00:00+00:00   0.0
5  2015-05-22 05:00:00+00:00   0.0
6  2015-05-22 06:00:00+00:00   0.0
7  2015-05-22 07:00:00+00:00   0.0
8  2015-05-22 08:00:00+00:00   0.0
9  2015-05-22 09:00:00+00:00   0.0
10 2015-05-22 10:00:00+00:00   0.0
11 2015-05-22 11:00:00+00:00   0.0
12 2015-05-22 12:00:00+00:00   0.0
13 2015-05-22 13:00:00+00:00   0.0
14 2015-05-22 14:00:00+00:00   0.0
15 2015-05-22 15:00:00+00:00   0.0
16 2015-05-22 16:00:00+00:00   0.0
17 2015-05-22 17:00:00+00:00   0.0
18 2015-05-22 18:00:00+00:00   0.0
19 2015-05-22 19:00:00+00:00   0.0
20 2015-05-22 20:00:00+00:00   0.0
21 2015-05-22 21:00:00+00:00   0.0
22 2015-05-22 22:00:00+00:00   0.0
23 2015-05-22 23:00:00+00:00   0.0
                        date  rain
0  2015-05-23 00:00:00+00:00   0.0
1  2015-05-23 01:00:00+00:00   0.0
2  2015-05-23 02:00:00+00:00   0.0
3  2015-05-23 03:00:00+00:00   0.0
4  2015-05-23 04:00:00+00:00   0.0
5  2015-05-23 05:00:00+00:00   0.0
6  2015-05-23 06:00:00+00:00   0.0
7  2015-05-23 07:00:00+00:00   0.0
8  2015-05-23 08:00:00+00:00   0.0
9  2015-05-23 09:00:00+00:00   0.2
10 2015-05-23 10:00:00+00:00   0.1
11 2015-05-23 11:00:00+00:00   0.1
12 2015-05-23 12:00:00+00:00   0.0
13 2015-05-23 13:00:00+00:00   0.0
14 2015-05-23 14:00:00+00:00   0.0
15 2015-05-23 15:00:00+00:00   0.0
16 2015-05-23 16:00:00+00:00   0.0
17 2015-05-23 17:00:00+00:00   0.0
18 2015-05-23 18:00:00+00:00   0.0
19 2015-05-23 19:00:00+00:00   0.0
20 2015-05-23 20:00:00+00:00   0.0
21 2015-05-23 21:00:00+00:00   0.0
22 2015-05-23 22:00:00+00:00   0.0
23 2015-05-23 23:00:00+00:00   0.0
                        date  rain
0  2015-10-01 00:00:00+00:00   0.0
1  2015-10-01 01:00:00+00:00   0.0
2  2015-10-01 02:00:00+00:00   0.0
3  2015-10-01 03:00:00+00:00   0.0
4  2015-10-01 04:00:00+00:00   0.0
5  2015-10-01 05:00:00+00:00   0.0
6  2015-10-01 06:00:00+00:00   0.0
7  2015-10-01 07:00:00+00:00   0.0
8  2015-10-01 08:00:00+00:00   0.0
9  2015-10-01 09:00:00+00:00   0.0
10 2015-10-01 10:00:00+00:00   0.0
11 2015-10-01 11:00:00+00:00   0.0
12 2015-10-01 12:00:00+00:00   0.0
13 2015-10-01 13:00:00+00:00   0.0
14 2015-10-01 14:00:00+00:00   0.0
15 2015-10-01 15:00:00+00:00   0.0
16 2015-10-01 16:00:00+00:00   0.0
17 2015-10-01 17:00:00+00:00   0.0
18 2015-10-01 18:00:00+00:00   0.0
19 2015-10-01 19:00:00+00:00   0.0
20 2015-10-01 20:00:00+00:00   0.0
21 2015-10-01 21:00:00+00:00   0.0
22 2015-10-01 22:00:00+00:00   0.0
23 2015-10-01 23:00:00+00:00   0.0
                        date  rain
0  2015-09-25 00:00:00+00:00   0.0
1  2015-09-25 01:00:00+00:00   0.0
2  2015-09-25 02:00:00+00:00   0.0
3  2015-09-25 03:00:00+00:00   0.0
4  2015-09-25 04:00:00+00:00   0.0
5  2015-09-25 05:00:00+00:00   0.0
6  2015-09-25 06:00:00+00:00   0.0
7  2015-09-25 07:00:00+00:00   0.0
8  2015-09-25 08:00:00+00:00   0.0
9  2015-09-25 09:00:00+00:00   0.0
10 2015-09-25 10:00:00+00:00   0.0
11 2015-09-25 11:00:00+00:00   0.0
12 2015-09-25 12:00:00+00:00   0.0
13 2015-09-25 13:00:00+00:00   0.0
14 2015-09-25 14:00:00+00:00   0.0
15 2015-09-25 15:00:00+00:00   0.0
16 2015-09-25 16:00:00+00:00   0.0
17 2015-09-25 17:00:00+00:00   0.0
18 2015-09-25 18:00:00+00:00   0.0
19 2015-09-25 19:00:00+00:00   0.0
20 2015-09-25 20:00:00+00:00   0.0
21 2015-09-25 21:00:00+00:00   0.0
22 2015-09-25 22:00:00+00:00   0.0
23 2015-09-25 23:00:00+00:00   0.0
                        date  rain
0  2015-09-26 00:00:00+00:00   0.0
1  2015-09-26 01:00:00+00:00   0.0
2  2015-09-26 02:00:00+00:00   0.0
3  2015-09-26 03:00:00+00:00   0.0
4  2015-09-26 04:00:00+00:00   0.0
5  2015-09-26 05:00:00+00:00   0.0
6  2015-09-26 06:00:00+00:00   0.0
7  2015-09-26 07:00:00+00:00   0.0
8  2015-09-26 08:00:00+00:00   0.0
9  2015-09-26 09:00:00+00:00   0.0
10 2015-09-26 10:00:00+00:00   0.0
11 2015-09-26 11:00:00+00:00   0.0
12 2015-09-26 12:00:00+00:00   0.0
13 2015-09-26 13:00:00+00:00   0.0
14 2015-09-26 14:00:00+00:00   0.0
15 2015-09-26 15:00:00+00:00   0.0
16 2015-09-26 16:00:00+00:00   0.0
17 2015-09-26 17:00:00+00:00   0.0
18 2015-09-26 18:00:00+00:00   0.0
19 2015-09-26 19:00:00+00:00   0.0
20 2015-09-26 20:00:00+00:00   0.0
21 2015-09-26 21:00:00+00:00   0.0
22 2015-09-26 22:00:00+00:00   0.0
23 2015-09-26 23:00:00+00:00   0.0
                        date  rain
0  2015-09-27 00:00:00+00:00   0.0
1  2015-09-27 01:00:00+00:00   0.0
2  2015-09-27 02:00:00+00:00   0.0
3  2015-09-27 03:00:00+00:00   0.0
4  2015-09-27 04:00:00+00:00   0.0
5  2015-09-27 05:00:00+00:00   0.0
6  2015-09-27 06:00:00+00:00   0.0
7  2015-09-27 07:00:00+00:00   0.0
8  2015-09-27 08:00:00+00:00   0.0
9  2015-09-27 09:00:00+00:00   0.0
10 2015-09-27 10:00:00+00:00   0.0
11 2015-09-27 11:00:00+00:00   0.0
12 2015-09-27 12:00:00+00:00   0.0
13 2015-09-27 13:00:00+00:00   0.0
14 2015-09-27 14:00:00+00:00   0.0
15 2015-09-27 15:00:00+00:00   0.0
16 2015-09-27 16:00:00+00:00   0.0
17 2015-09-27 17:00:00+00:00   0.0
18 2015-09-27 18:00:00+00:00   0.0
19 2015-09-27 19:00:00+00:00   0.0
20 2015-09-27 20:00:00+00:00   0.0
21 2015-09-27 21:00:00+00:00   0.0
22 2015-09-27 22:00:00+00:00   0.0
23 2015-09-27 23:00:00+00:00   0.0
                        date  rain
0  2015-09-28 00:00:00+00:00   0.0
1  2015-09-28 01:00:00+00:00   0.0
2  2015-09-28 02:00:00+00:00   0.0
3  2015-09-28 03:00:00+00:00   0.0
4  2015-09-28 04:00:00+00:00   0.0
5  2015-09-28 05:00:00+00:00   0.0
6  2015-09-28 06:00:00+00:00   0.0
7  2015-09-28 07:00:00+00:00   0.0
8  2015-09-28 08:00:00+00:00   0.0
9  2015-09-28 09:00:00+00:00   0.0
10 2015-09-28 10:00:00+00:00   0.0
11 2015-09-28 11:00:00+00:00   0.0
12 2015-09-28 12:00:00+00:00   0.0
13 2015-09-28 13:00:00+00:00   0.0
14 2015-09-28 14:00:00+00:00   0.0
15 2015-09-28 15:00:00+00:00   0.0
16 2015-09-28 16:00:00+00:00   0.0
17 2015-09-28 17:00:00+00:00   0.0
18 2015-09-28 18:00:00+00:00   0.0
19 2015-09-28 19:00:00+00:00   0.0
20 2015-09-28 20:00:00+00:00   0.0
21 2015-09-28 21:00:00+00:00   0.0
22 2015-09-28 22:00:00+00:00   0.0
23 2015-09-28 23:00:00+00:00   0.0
                        date  rain
0  2015-09-29 00:00:00+00:00   0.0
1  2015-09-29 01:00:00+00:00   0.0
2  2015-09-29 02:00:00+00:00   0.0
3  2015-09-29 03:00:00+00:00   0.0
4  2015-09-29 04:00:00+00:00   0.0
5  2015-09-29 05:00:00+00:00   0.0
6  2015-09-29 06:00:00+00:00   0.0
7  2015-09-29 07:00:00+00:00   0.0
8  2015-09-29 08:00:00+00:00   0.0
9  2015-09-29 09:00:00+00:00   0.0
10 2015-09-29 10:00:00+00:00   0.0
11 2015-09-29 11:00:00+00:00   0.0
12 2015-09-29 12:00:00+00:00   0.0
13 2015-09-29 13:00:00+00:00   0.0
14 2015-09-29 14:00:00+00:00   0.0
15 2015-09-29 15:00:00+00:00   0.0
16 2015-09-29 16:00:00+00:00   0.0
17 2015-09-29 17:00:00+00:00   0.0
18 2015-09-29 18:00:00+00:00   0.0
19 2015-09-29 19:00:00+00:00   0.0
20 2015-09-29 20:00:00+00:00   0.0
21 2015-09-29 21:00:00+00:00   0.0
22 2015-09-29 22:00:00+00:00   0.0
23 2015-09-29 23:00:00+00:00   0.0
                        date  rain
0  2015-09-30 00:00:00+00:00   0.0
1  2015-09-30 01:00:00+00:00   0.0
2  2015-09-30 02:00:00+00:00   0.0
3  2015-09-30 03:00:00+00:00   0.0
4  2015-09-30 04:00:00+00:00   0.0
5  2015-09-30 05:00:00+00:00   0.0
6  2015-09-30 06:00:00+00:00   0.0
7  2015-09-30 07:00:00+00:00   0.0
8  2015-09-30 08:00:00+00:00   0.0
9  2015-09-30 09:00:00+00:00   0.0
10 2015-09-30 10:00:00+00:00   0.0
11 2015-09-30 11:00:00+00:00   0.0
12 2015-09-30 12:00:00+00:00   0.0
13 2015-09-30 13:00:00+00:00   0.0
14 2015-09-30 14:00:00+00:00   0.0
15 2015-09-30 15:00:00+00:00   0.0
16 2015-09-30 16:00:00+00:00   0.0
17 2015-09-30 17:00:00+00:00   0.0
18 2015-09-30 18:00:00+00:00   0.0
19 2015-09-30 19:00:00+00:00   0.0
20 2015-09-30 20:00:00+00:00   0.0
21 2015-09-30 21:00:00+00:00   0.0
22 2015-09-30 22:00:00+00:00   0.0
23 2015-09-30 23:00:00+00:00   0.0
                        date  rain
0  2016-05-16 00:00:00+00:00   0.0
1  2016-05-16 01:00:00+00:00   0.0
2  2016-05-16 02:00:00+00:00   0.0
3  2016-05-16 03:00:00+00:00   0.0
4  2016-05-16 04:00:00+00:00   0.0
5  2016-05-16 05:00:00+00:00   0.0
6  2016-05-16 06:00:00+00:00   0.0
7  2016-05-16 07:00:00+00:00   0.0
8  2016-05-16 08:00:00+00:00   0.0
9  2016-05-16 09:00:00+00:00   0.0
10 2016-05-16 10:00:00+00:00   0.1
11 2016-05-16 11:00:00+00:00   0.0
12 2016-05-16 12:00:00+00:00   0.0
13 2016-05-16 13:00:00+00:00   0.0
14 2016-05-16 14:00:00+00:00   0.0
15 2016-05-16 15:00:00+00:00   0.0
16 2016-05-16 16:00:00+00:00   0.0
17 2016-05-16 17:00:00+00:00   0.0
18 2016-05-16 18:00:00+00:00   0.0
19 2016-05-16 19:00:00+00:00   0.0
20 2016-05-16 20:00:00+00:00   0.0
21 2016-05-16 21:00:00+00:00   0.0
22 2016-05-16 22:00:00+00:00   0.0
23 2016-05-16 23:00:00+00:00   0.0
                        date  rain
0  2016-05-17 00:00:00+00:00   0.0
1  2016-05-17 01:00:00+00:00   0.0
2  2016-05-17 02:00:00+00:00   0.0
3  2016-05-17 03:00:00+00:00   0.0
4  2016-05-17 04:00:00+00:00   0.0
5  2016-05-17 05:00:00+00:00   0.0
6  2016-05-17 06:00:00+00:00   0.0
7  2016-05-17 07:00:00+00:00   0.0
8  2016-05-17 08:00:00+00:00   0.0
9  2016-05-17 09:00:00+00:00   0.0
10 2016-05-17 10:00:00+00:00   0.0
11 2016-05-17 11:00:00+00:00   0.0
12 2016-05-17 12:00:00+00:00   0.0
13 2016-05-17 13:00:00+00:00   0.0
14 2016-05-17 14:00:00+00:00   0.0
15 2016-05-17 15:00:00+00:00   0.0
16 2016-05-17 16:00:00+00:00   0.0
17 2016-05-17 17:00:00+00:00   0.0
18 2016-05-17 18:00:00+00:00   0.0
19 2016-05-17 19:00:00+00:00   0.0
20 2016-05-17 20:00:00+00:00   0.0
21 2016-05-17 21:00:00+00:00   0.0
22 2016-05-17 22:00:00+00:00   0.0
23 2016-05-17 23:00:00+00:00   0.0
                        date  rain
0  2016-05-18 00:00:00+00:00   0.0
1  2016-05-18 01:00:00+00:00   0.0
2  2016-05-18 02:00:00+00:00   0.0
3  2016-05-18 03:00:00+00:00   0.0
4  2016-05-18 04:00:00+00:00   0.0
5  2016-05-18 05:00:00+00:00   0.0
6  2016-05-18 06:00:00+00:00   0.0
7  2016-05-18 07:00:00+00:00   0.1
8  2016-05-18 08:00:00+00:00   0.3
9  2016-05-18 09:00:00+00:00   0.9
10 2016-05-18 10:00:00+00:00   1.3
11 2016-05-18 11:00:00+00:00   1.6
12 2016-05-18 12:00:00+00:00   1.4
13 2016-05-18 13:00:00+00:00   0.6
14 2016-05-18 14:00:00+00:00   0.2
15 2016-05-18 15:00:00+00:00   0.5
16 2016-05-18 16:00:00+00:00   2.5
17 2016-05-18 17:00:00+00:00   0.0
18 2016-05-18 18:00:00+00:00   0.1
19 2016-05-18 19:00:00+00:00   0.3
20 2016-05-18 20:00:00+00:00   0.7
21 2016-05-18 21:00:00+00:00   0.5
22 2016-05-18 22:00:00+00:00   0.5
23 2016-05-18 23:00:00+00:00   0.5
                        date  rain
0  2016-05-19 00:00:00+00:00   0.9
1  2016-05-19 01:00:00+00:00   0.4
2  2016-05-19 02:00:00+00:00   0.3
3  2016-05-19 03:00:00+00:00   0.2
4  2016-05-19 04:00:00+00:00   0.0
5  2016-05-19 05:00:00+00:00   0.0
6  2016-05-19 06:00:00+00:00   0.0
7  2016-05-19 07:00:00+00:00   0.0
8  2016-05-19 08:00:00+00:00   0.0
9  2016-05-19 09:00:00+00:00   0.0
10 2016-05-19 10:00:00+00:00   0.0
11 2016-05-19 11:00:00+00:00   0.0
12 2016-05-19 12:00:00+00:00   0.0
13 2016-05-19 13:00:00+00:00   0.0
14 2016-05-19 14:00:00+00:00   0.0
15 2016-05-19 15:00:00+00:00   0.0
16 2016-05-19 16:00:00+00:00   0.0
17 2016-05-19 17:00:00+00:00   0.0
18 2016-05-19 18:00:00+00:00   0.0
19 2016-05-19 19:00:00+00:00   0.0
20 2016-05-19 20:00:00+00:00   0.0
21 2016-05-19 21:00:00+00:00   0.0
22 2016-05-19 22:00:00+00:00   0.0
23 2016-05-19 23:00:00+00:00   0.0
                        date  rain
0  2016-05-20 00:00:00+00:00   0.0
1  2016-05-20 01:00:00+00:00   0.0
2  2016-05-20 02:00:00+00:00   0.0
3  2016-05-20 03:00:00+00:00   0.0
4  2016-05-20 04:00:00+00:00   0.0
5  2016-05-20 05:00:00+00:00   0.0
6  2016-05-20 06:00:00+00:00   0.0
7  2016-05-20 07:00:00+00:00   0.0
8  2016-05-20 08:00:00+00:00   0.0
9  2016-05-20 09:00:00+00:00   0.0
10 2016-05-20 10:00:00+00:00   0.0
11 2016-05-20 11:00:00+00:00   0.0
12 2016-05-20 12:00:00+00:00   0.0
13 2016-05-20 13:00:00+00:00   0.0
14 2016-05-20 14:00:00+00:00   0.0
15 2016-05-20 15:00:00+00:00   0.0
16 2016-05-20 16:00:00+00:00   0.0
17 2016-05-20 17:00:00+00:00   0.2
18 2016-05-20 18:00:00+00:00   0.0
19 2016-05-20 19:00:00+00:00   0.0
20 2016-05-20 20:00:00+00:00   0.0
21 2016-05-20 21:00:00+00:00   0.0
22 2016-05-20 22:00:00+00:00   0.0
23 2016-05-20 23:00:00+00:00   0.0
                        date  rain
0  2016-05-21 00:00:00+00:00   0.0
1  2016-05-21 01:00:00+00:00   0.0
2  2016-05-21 02:00:00+00:00   0.0
3  2016-05-21 03:00:00+00:00   0.0
4  2016-05-21 04:00:00+00:00   0.0
5  2016-05-21 05:00:00+00:00   0.0
6  2016-05-21 06:00:00+00:00   0.0
7  2016-05-21 07:00:00+00:00   0.2
8  2016-05-21 08:00:00+00:00   0.0
9  2016-05-21 09:00:00+00:00   0.0
10 2016-05-21 10:00:00+00:00   0.0
11 2016-05-21 11:00:00+00:00   0.0
12 2016-05-21 12:00:00+00:00   0.0
13 2016-05-21 13:00:00+00:00   0.0
14 2016-05-21 14:00:00+00:00   0.0
15 2016-05-21 15:00:00+00:00   0.0
16 2016-05-21 16:00:00+00:00   0.0
17 2016-05-21 17:00:00+00:00   0.2
18 2016-05-21 18:00:00+00:00   0.0
19 2016-05-21 19:00:00+00:00   0.1
20 2016-05-21 20:00:00+00:00   0.0
21 2016-05-21 21:00:00+00:00   0.0
22 2016-05-21 22:00:00+00:00   0.0
23 2016-05-21 23:00:00+00:00   0.0
                        date  rain
0  2016-05-22 00:00:00+00:00   0.0
1  2016-05-22 01:00:00+00:00   0.0
2  2016-05-22 02:00:00+00:00   0.0
3  2016-05-22 03:00:00+00:00   0.0
4  2016-05-22 04:00:00+00:00   0.0
5  2016-05-22 05:00:00+00:00   0.0
6  2016-05-22 06:00:00+00:00   0.0
7  2016-05-22 07:00:00+00:00   0.0
8  2016-05-22 08:00:00+00:00   0.0
9  2016-05-22 09:00:00+00:00   0.0
10 2016-05-22 10:00:00+00:00   0.0
11 2016-05-22 11:00:00+00:00   0.0
12 2016-05-22 12:00:00+00:00   0.0
13 2016-05-22 13:00:00+00:00   0.0
14 2016-05-22 14:00:00+00:00   0.0
15 2016-05-22 15:00:00+00:00   0.0
16 2016-05-22 16:00:00+00:00   0.2
17 2016-05-22 17:00:00+00:00   0.1
18 2016-05-22 18:00:00+00:00   0.3
19 2016-05-22 19:00:00+00:00   0.3

                       date  rain
0 2015-05-16 00:00:00+00:00   0.0
1 2015-05-16 01:00:00+00:00   0.0
2 2015-05-16 02:00:00+00:00   0.0
3 2015-05-16 03:00:00+00:00   0.0
4 2015-05-16 04:00:00+00:00   0.0

In [31]:
rainDataFrame = rainDataFrameResponse

In [32]:
# Convert the 'date' column to datetime (replace 'date' with your actual column name)
rainDataFrame['date'] = pd.to_datetime(rainDataFrame['date'])

# Extract date as string and time interval
rainDataFrame['date_string'] = rainDataFrame['date'].dt.strftime('%Y-%m-%d')
#rainDataFrame['interval'] = rainDataFrame['date'].dt.strftime('%H:%M:%S')
rainDataFrame['interval'] = rainDataFrame['date'].dt.hour * 3600 + rainDataFrame['date'].dt.minute * 60 + rainDataFrame['date'].dt.second

rainDataFrame.drop(columns=['date'], inplace=True)

rainDataFrame.head()

   rain date_string  interval
0   0.0  2015-05-16         0
1   0.0  2015-05-16      3600
2   0.0  2015-05-16      7200
3   0.0  2015-05-16     10800
4   0.0  2015-05-16     14400

In [33]:
rainDataFrame.describe()

             rain      interval
count  552.000000    552.000000
mean     0.044022  41400.000000
std      0.205991  24942.474652
min      0.000000      0.000000
25%      0.000000  20700.000000
50%      0.000000  41400.000000
75%      0.000000  62100.000000
max      2.500000  82800.000000