Get weather data for the Dataset

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import sys
import os

In [2]:
# Add the directory containing the module to the system path
module_path = os.path.abspath(os.path.join('C:\\Users\\samue\\OneDrive\\AIML\\HS2024\\Data Sicence Projekt\\HSLU_DSPRO1_TrafficStatus\\data'))
if module_path not in sys.path:
    sys.path.append(module_path)

# Import the module
import DataEngineeringLibrary as dlib

In [6]:
dataLondonUTD19 = dlib.loadData(path=r"C:\Users\samue\OneDrive\AIML\HS2024\Data Sicence Projekt\Data\London_UTD19.csv", nrows=1000000)
dataLondonUTD19.head()

          day  interval           detid   flow       occ  error    city  speed
0  2015-05-16         0  EAST_N04/161x1  144.0  0.028333    0.0  london    NaN
1  2015-05-16       300  EAST_N04/161x1  204.0  0.040000    0.0  london    NaN
2  2015-05-16       600  EAST_N04/161x1  216.0  0.039167    0.0  london    NaN
3  2015-05-16       900  EAST_N04/161x1  168.0  0.029167    0.0  london    NaN
4  2015-05-16      1200  EAST_N04/161x1  144.0  0.024167    0.0  london    NaN

In [9]:
unique_days = dataLondonUTD19['day'].unique()
unique_days

array(['2015-05-16', '2015-05-15', '2015-05-17', '2015-05-18',
       '2015-05-19', '2015-05-20', '2015-05-21', '2015-05-22',
       '2015-05-23', '2015-10-01', '2015-09-25', '2015-09-26',
       '2015-09-27', '2015-09-28', '2015-09-29', '2015-09-30',
       '2016-05-16', '2016-05-17', '2016-05-18', '2016-05-19',
       '2016-05-20', '2016-05-21', '2016-05-22'], dtype=object)

In [11]:
unique_days = pd.to_datetime(unique_days)
unique_days

DatetimeIndex(['2015-05-16', '2015-05-15', '2015-05-17', '2015-05-18',
               '2015-05-19', '2015-05-20', '2015-05-21', '2015-05-22',
               '2015-05-23', '2015-10-01', '2015-09-25', '2015-09-26',
               '2015-09-27', '2015-09-28', '2015-09-29', '2015-09-30',
               '2016-05-16', '2016-05-17', '2016-05-18', '2016-05-19',
               '2016-05-20', '2016-05-21', '2016-05-22'],
              dtype='datetime64[ns]', freq=None)