In [1]:
import pandas as pd
import rfr_model as rfr

In [19]:
train_data = pd.read_csv('/Users/finneyer/Documents/HSLU/Semester 3/DSPRO1/Projektarbeit/Data/0.2/London_UTD19_train_Sniper_0.csv')
train_data = train_data.drop(columns=['day', 'long', 'lat', 'pos', 'length'], axis=1)
train_data

         interval           detid weekday  traffic
0          3600.0  CNTR_N00/005g1  Friday      5.0
1          7200.0  CNTR_N00/005g1  Friday      3.0
2         10800.0  CNTR_N00/005g1  Friday      1.0
3         14400.0  CNTR_N00/005g1  Friday      1.0
4         18000.0  CNTR_N00/005g1  Friday      1.0
...           ...             ...     ...      ...
1664145   72000.0  SOUT_N10/313b1  Sunday      2.0
1664146   75600.0  SOUT_N10/313b1  Sunday      0.0
1664147   79200.0  SOUT_N10/313b1  Sunday      0.0
1664148   82800.0  SOUT_N10/313b1  Sunday      0.0
1664149   86400.0  SOUT_N10/313b1  Sunday      0.0

[1664150 rows x 4 columns]

In [20]:
weekday_mapping = {
        'Monday': 0,
        'Tuesday': 1,
        'Wednesday': 2,
        'Thursday': 3,
        'Friday': 4,
        'Saturday': 5,
        'Sunday': 6
    }
train_data['weekday'] = train_data['weekday'].map(weekday_mapping)

In [21]:
X_train = train_data.drop('detid', axis=1)
X_train = train_data.drop('traffic', axis=1)
y_train = train_data['traffic']

In [22]:
print("Checking for NaN values in X_train:")
print(X_train.isna().sum())  # This will show any columns with NaN values
print("Checking for NaN values in y_train:")
print(y_train.isna().sum())  # This will show if y_train has NaN values

Checking for NaN values in X_train:
interval    0
detid       0
weekday     0
dtype: int64
Checking for NaN values in y_train:
0

In [23]:
print("Data types in X_train:")
print(X_train.dtypes)  # Check if all columns are numeric

Data types in X_train:
interval    float64
detid        object
weekday       int64
dtype: object

In [27]:
test = train_data.drop('detid', axis=1)