In [17]:
import pandas as pd
import baseline_model as bl

In [18]:
train_data_path = '/Users/finneyer/Documents/HSLU/Semester 3/DSPRO1/Projektarbeit/Data/0.1/London_UTD19_train_Sniper_0.csv'
test_data_path = '/Users/finneyer/Documents/HSLU/Semester 3/DSPRO1/Projektarbeit/Data/0.1/London_UTD19_test_Sniper_0.csv'
train_data = pd.read_csv(train_data_path)
test_data = pd.read_csv(test_data_path)
train_data = train_data.drop(columns=['day', 'long', 'lat', 'pos', 'length'], axis=1)
test_data = test_data.drop(columns=['day', 'long', 'lat', 'pos', 'length'], axis=1)

In [19]:
train_data

          interval           detid weekday  traffic
0                0  CNTR_N00/005g1  Friday     12.0
1              300  CNTR_N00/005g1  Friday      5.0
2              600  CNTR_N00/005g1  Friday      6.0
3              900  CNTR_N00/005g1  Friday      7.0
4             1200  CNTR_N00/005g1  Friday      8.0
...            ...             ...     ...      ...
11235224     82800  SOUT_N10/313b1  Sunday      0.0
11235225     83400  SOUT_N10/313b1  Sunday      0.0
11235226     84000  SOUT_N10/313b1  Sunday      1.0
11235227     85200  SOUT_N10/313b1  Sunday      0.0
11235228     85500  SOUT_N10/313b1  Sunday      0.0

[11235229 rows x 4 columns]

In [20]:
safe_path = '/Users/finneyer/Documents/HSLU/Semester 3/DSPRO1/Projektarbeit/models/baseline'

In [21]:
train_data_head = train_data.copy()
train_data_head = train_data_head.head(10000)

test_data_head = test_data.copy()
test_data_head = test_data_head[test_data_head['detid'].isin(train_data_head.detid.unique())]

In [22]:
bl.train_random_baseline_models(train_data, safe_path)

In [23]:
performance = bl.evaluate_random_baseline_models(test_data, safe_path)

In [24]:
print('Mean Absolut Error: ',performance.MAE.mean())
print('Mean Squared Error: ',performance.MSE.mean())
print('R2: ',performance.R2.mean())

Mean Absolut Error:  5.031040001956111
Mean Squared Error:  58.239335206469725
R2:  -0.2053705585780977

In [25]:
bl.get_random_baseline_prediction(safe_path, 0)

      traffic           detid  interval
0    0.641224  EAST_N05/153x1         0
1    0.758707  EAST_N05/153x1      3600
2    0.630785  EAST_N05/153x1      7200
3    0.945596  EAST_N05/153x1     10800
4    0.689735  EAST_N05/153x1     14400
..        ...             ...       ...
19  24.955808  CNTR_N01/353j1     68400
20  22.097626  CNTR_N01/353j1     72000
21  13.607354  CNTR_N01/353j1     75600
22  22.448878  CNTR_N01/353j1     79200
23  23.744465  CNTR_N01/353j1     82800

[54912 rows x 3 columns]