In [2]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import knn_model as knn

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
import knn_model as knn

In [24]:
train_data = pd.read_csv('/Users/finneyer/Documents/HSLU/Semester 3/DSPRO1/Projektarbeit/Data/0.4/London_UTD19_train_Sniper_0.csv')
train_data = train_data.drop(columns=['day', 'long', 'lat', 'pos', 'length'], axis = 1)
test_data = pd.read_csv('/Users/finneyer/Documents/HSLU/Semester 3/DSPRO1/Projektarbeit/Data/0.4/London_UTD19_test_Sniper_0.csv')
test_data = test_data.drop(columns=['day', 'long', 'lat', 'pos', 'length'], axis = 1)

In [25]:
train_data

         interval           detid weekday  traffic
0             0.0  CNTR_N00/005g1  Friday       48
1          3600.0  CNTR_N00/005g1  Friday       41
2          7200.0  CNTR_N00/005g1  Friday       25
3         10800.0  CNTR_N00/005g1  Friday       13
4         14400.0  CNTR_N00/005g1  Friday       14
...           ...             ...     ...      ...
1664645   72000.0  SOUT_N10/313b1  Sunday       16
1664646   75600.0  SOUT_N10/313b1  Sunday        6
1664647   79200.0  SOUT_N10/313b1  Sunday        4
1664648   82800.0  SOUT_N10/313b1  Sunday        3
1664649   86400.0  SOUT_N10/313b1  Sunday        1

[1664650 rows x 4 columns]

In [5]:
models_path = '/Users/finneyer/Documents/HSLU/Semester 3/DSPRO1/Projektarbeit/models/knn/0.4'

In [5]:
knn.train_knn_models(train_data, models_path)

In [6]:
metrics = knn.evaluate_knn_models(test_data, models_path)

/Users/finneyer/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)
/Users/finneyer/anaconda3/lib/python3.11/site-packages/sklearn/metrics/_regression.py:918: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

In [7]:
metrics

               detid        MAE         MSE        R2
0     CNTR_N00/005g1  19.290909  467.823636  0.377785
1     CNTR_N00/005g2  18.177778  485.264444  0.222917
2     CNTR_N00/005x1   5.904762   60.571429  0.244784
3     CNTR_N00/005x2   8.566964  133.165458  0.582900
4     CNTR_N01/001b1   5.750000   92.621528  0.918873
...              ...        ...         ...       ...
3595  SOUT_N10/265x1   5.785714   54.178571  0.621507
3596  SOUT_N10/275a1   2.062500    7.673611  0.877704
3597  SOUT_N10/275b1   1.561224    4.724490  0.827753
3598  SOUT_N10/313a1   3.604167   19.128472  0.889660
3599  SOUT_N10/313b1   5.420168   86.985594  0.581981

[3600 rows x 4 columns]

In [8]:
metrics.MAE.mean()

5.84590014035728

In [9]:
metrics.MSE.mean()

108.41933992075019

## Train KNN 4D model

In [42]:
import knn_model_4d as knn_4d

In [36]:
save_path_4d = '/Users/finneyer/Documents/HSLU/Semester 3/DSPRO1/Projektarbeit/models/knn/0.4_4d'

In [31]:
train_data_cp = train_data.copy()
knn_4d.train_4d_knn_model(train_data_cp, save_path_4d)

In [43]:
knn_4d_model_path = '/Users/finneyer/Documents/HSLU/Semester 3/DSPRO1/Projektarbeit/models/knn/0.4_4d/knn_4d_model.pkl'
knn_4d_label_encoder_path = '/Users/finneyer/Documents/HSLU/Semester 3/DSPRO1/Projektarbeit/models/knn/0.4_4d/label_encoder.pkl'

In [44]:
test_data_cp = test_data.copy()
evaluation = knn_4d.evaluate_knn_4d_model(test_data_cp, knn_4d_model_path, knn_4d_label_encoder_path)

In [45]:
evaluation

        MAE         MSE        R2
0  6.365842  137.867875  0.847535