## Train KNN models

In [2]:
import pandas as pd
import knn_model as knn

### Load data

In [3]:
train_data_path = '' # Insert train data path
test_data_path = '' # Insert test data path
save_path = '' # Insert save path for the models

In [6]:
# Load data from dataset 1
train_data = pd.read_csv(train_data_path)
train_data = train_data.drop(columns=['long', 'lat', 'pos', 'length','fclass'], axis = 1)
test_data = pd.read_csv(test_data_path)
test_data = test_data.drop(columns=['long', 'lat', 'pos', 'length','fclass'], axis = 1)

In [9]:
train_data

         interval           detid    weekday  traffic
0             0.0  CNTR_N00/005g1     Friday       48
1             0.0  CNTR_N00/005g1   Saturday       48
2             0.0  CNTR_N00/005g1     Sunday       38
3             0.0  CNTR_N00/005g1     Monday       18
4             0.0  CNTR_N00/005g1    Tuesday       28
...           ...             ...        ...      ...
1611386   86400.0  SOUT_N10/313b1    Tuesday        6
1611387   86400.0  SOUT_N10/313b1  Wednesday        8
1611388   86400.0  SOUT_N10/313b1   Thursday        7
1611389   86400.0  SOUT_N10/313b1   Saturday       13
1611390   86400.0  SOUT_N10/313b1     Sunday        1

[1611391 rows x 4 columns]

### Train models

In [10]:
knn.train_knn_models(train_data, save_path)

### Evaluate performance metrics of trained models

In [11]:
metrics = knn.evaluate_knn_models(test_data, save_path)

In [12]:
metrics

               detid        MAE          MSE        R2
0     CNTR_N00/005g1  31.472000  1182.780800 -0.544120
1     CNTR_N00/005g2  33.342857  1273.135510 -1.755227
2     CNTR_N00/005x1   4.120000    25.473469  0.762573
3     CNTR_N00/005x2  13.608696   379.260870  0.382855
4     CNTR_N01/001b1   8.720000   147.980000  0.875831
...              ...        ...          ...       ...
3580  SOUT_N10/265x1   8.293333   104.364444 -5.286409
3581  SOUT_N10/275a1   1.946667     7.848889  0.861878
3582  SOUT_N10/275b1   2.320000     9.664000  0.569064
3583  SOUT_N10/313a1   6.026667    63.591111  0.736261
3584  SOUT_N10/313b1   4.533333    42.915556  0.703307

[3585 rows x 4 columns]

In [13]:
metrics.MAE.mean()

np.float64(6.235037279229177)

In [14]:
metrics.MSE.mean()

np.float64(126.86526547838143)

In [15]:
metrics['R2'].mean()

np.float64(0.023553809482300375)

## Train a KNN 4D model

In [ ]:
import knn_model_4d as knn_4d

In [ ]:
save_path_4d = '' # Insert save path for the 4D KNN model

### Train 4D model

In [ ]:
train_data_cp = train_data.copy()
knn_4d.train_4d_knn_model(train_data_cp, save_path_4d)

In [ ]:
knn_4d_model_path = '' # Insert path of the 4D KNN model
knn_4d_label_encoder_path = '' # Insert path of the lable encoder of the 4D KNN model

### Evaluate performance metrics of 4D model

In [ ]:
test_data_cp = test_data.copy()
evaluation = knn_4d.evaluate_knn_4d_model(test_data_cp, knn_4d_model_path, knn_4d_label_encoder_path)

In [ ]:
evaluation